html,
body {
    background-color: black;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.container {
    animation: animatezoom 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 350px;
}

.icons {
    width: 150%;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    font-size: 35px;
}