html,
body {
    background-color: black;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    animation: animatezoom 0.6s;
}

img {
    width: 300px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    font-size: 35px;
}
